.project_show_form
  %h1=@project.name

  -unless current_user.reader?
    %right_edit_button= link_to "DB編集", edit_project_path(@project), class:"btn btn-primary"
  .table_container_large
    .container
      .col-md-12
        .panel
          .panel-body
            %table.table-line
              %thead
                %tr
                  %th No.
                  %th 論理カラム名
                  %th 物理カラム名
                  %th 型
                  %th Null許可
                  %th デフォルト値
                  %th 外部キー
              %tbody
                = render partial: "detail_table", locals: {first_table: @first_table}
      - @tables.each do |table|
        = button_tag table.logical_name, {data: table.id, remote: true, class: "btn btn-link-view"}

  .read_me_md
    .container
      = render "project_description"

:javascript
  $(function(){
    $("button.btn-link-view").click(function(){
      console.log("alert!");
      $.ajax({
        url: "/projects/select_table",
        type: "GET",
        data: {data: $(this).attr('data')},
        dataType: "json",
        success: function(data){
          alert("success!");
        },
        error: function(data){
          alert("error!");
        }
      });
    });
  });
