.company_show_form

  %h1= @company.name
  .container
    - @company.projects.each do |project|
      %li=link_to company_project_tables_path(@company, project.id), project.name, class: "form-control"
