.company_show_form

  %h1= @company.name
  .container
    %h2= "各プロジェクト一覧"
    - @company.projects.each do |project|
      .container
        = project.description
        = link_to project.name, project_path(project),class: "btn btn-default"
