.home_form
  -unless user_signed_in?
    %h1 テーブル定義書
    %h2 こちらは、テーブル定義書を無料で作成することができるサービスとなります
    .login_button
      -if user_signed_in?
        =link_to "企業情報に戻る", company_path(current_user.company_id), class: "btn btn-primary"
      -else
        =link_to "ログインはこちらから", user_session_path, class: 'btn btn-primary'
        =link_to "新規登録はこちらから", new_user_registration_path, class: 'btn btn-default'
  -else
    %h1 ホーム画面
    %h2 プロジェクトごとの新着一覧
