.background_field
  background-color: #FFF5EE

footer
  background-color: #D3D3D3
  color: #000000

.container
  margin: 30px 20px

head
  .navbar.navbar-default.navbar-static-top
    margin: 20px 10px
    background-color: #D3D3D3

.project_form
  width: auto
  height: auto
  background-color: #f0f0f0
  padding-top: 10px
  padding-bottom: 50px
  margin-bottom: 20px
  margin-top: 10px
  margin-right: 20px
  
.project_form:hover
  color: #555
  background-color: #333

.title
  font-size: 25px
  color: #000
.description
  font-size: 20px
  color: #000
