.col-md-12
  .col-md-6
    %p &copy; Tabel definition 2017
  .col-md-6
    .footer_link
      = link_to "このページにについて", qa_path
  .col-md-6
    .footer_link
      = link_to "新規登録", new_user_registration_path
  .col-md-6
    .footer_link
      = link_to "利用規約", term_of_service_path
