.navbar.navbar-default.navbar-static-top
  %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse")
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar
  %a.navbar-brand TableDefinition
  .navbar-collapse.collapse.navbar-responsive-collapse
    %ul.nav.navbar-nav
      -if user_signed_in?
        %li= link_to "Company", company_path(current_user.company_id), class: "header_logo"
        %li.divider
        %li
          = link_to "Log out", destroy_user_session_path, method: "delete", class: "header_logo"
      - else
        %li= link_to "Log in", user_session_path, class: "header_logo"
